#map{
    height:100%;
    width:75%;
}

html, body{
    height:100%;
    margin:0;
    padding:0;
}

.container{
    height:100%;
    background-color: lightblue;
}

#menu{
    height:100%;
    width:25%;
    float:left;
    text-align: center;
}